.container {
    min-height: 200px;
    width: 240px;
    padding: 0 15px;
    background-color: cadetblue;
    box-shadow: 7px 8px 7px black;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.divPai {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.sucesso {
    background: #9d9d14;
    display: flex;
    align-items: center;
    height: 66px;
    width: 280px;
    justify-content: space-evenly;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 220px;
}
img {
  width: 50px;
}
.container a {
  text-align: center;
  text-decoration: none;
  display: block;
  width: 130px;
  height: 26px;
  color: chartreuse;
  background-color: chocolate;
  border-radius: 8px;
  padding-top: 5px;
  cursor: pointer;
}
h3 {
  color: crimson;
  font-size: 21px;
  font-weight: 700;
}

@media (min-width: 1024px){
    .sucesso {
        width: 330px;
        margin-bottom: 30vh;
    }
    .container {
        width: 330px;
    }
}