.pricipal {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
}
h2{
    color: brown;
}