ul{
    display: flex;
    flex-direction: column;
    margin: 67px 0 5px 0;
    min-height: 100vh;
    list-style: none;
    padding: 0;
    justify-content: space-evenly;
}

@media (min-width: 1024px) {
    ul {
        display: flex;
        flex-direction: row;
        min-height: auto;
        margin: 0;
        margin-top: 50px;
        background-color: #000000a1;
        height: 700px;
        width: 1120px;
        border-radius: 19px;
    }
}